@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc
@using Umbraco.Core.Services
@using Umbraco.Core.PropertyEditors;

@{
    // get info for filtering
    IDataTypeService dataTypeService = Services.DataTypeService;

    var allTypes = dataTypeService.GetAll();

    var listingTypeDataType = allTypes.Where(dt => dt.Name == "Listing Controls - Listing type - Dropdown").First();
    var listingTypeDataTypeConfig = (ValueListConfiguration)listingTypeDataType.Configuration;
    var listingTypeItems = listingTypeDataTypeConfig.Items;

    var regionDataType = allTypes.Where(dt => dt.Name == "Listing Controls - Region - Dropdown").First();
    var regionDataTypeConfig = (ValueListConfiguration)regionDataType.Configuration;
    var regionItems = regionDataTypeConfig.Items;

    ITagService tagService = Services.TagService;
    var tags = tagService.GetAllContentTags("listing-feature");
}


@* advanced search start *@
<div class="container">
    <div class="row">

        @* checkboxes *@
        <div class="col-lg-3">
            @* select if rent or sale *@
            <div>
                <h6>Select listing type</h6>
                @foreach (var item in listingTypeItems)
                {
                    <div class="form-check">
                        <input name="type" class="filter-input form-check-input" type="checkbox" value="@item.Value" id="listingtype-@item.Id">
                        <label class="form-check-label" for="listingtype-@item.Id">
                            @item.Value
                        </label>
                    </div>
                }
            </div>

            @* multi-select for region *@
            <div>
                <h6>Select region</h6>
                @foreach (var item in regionItems)
                {
                    <div class="form-check">
                        <input name="region" class="filter-input form-check-input" type="checkbox" value="@item.Value" id="listingregion-@item.Id">
                        <label class="form-check-label" for="listingregion-@item.Id">
                            @item.Value
                        </label>
                    </div>
                }
            </div>
        </div>

        @* mutli-select for tags *@
        <div class="col-lg-3">
            <h6>Select amenities</h6>
            <div>
                @foreach (var item in tags)
                {
                    <div class="form-check">
                        <input name="tags" class="filter-input form-check-input" type="checkbox" value="@item.Text" id="itemtag-@item.Id">
                        <label class="form-check-label" for="itemtag-@item.Id">
                            @item.Text
                        </label>
                    </div>
                }
            </div>
        </div>

        @* numeric inputs *@
        <div class="col-lg-3">
            <h6>Set filter ranges</h6>
            @* min value for area *@
            <div class="form-group">
                <label for="minArea">Minimum area (m<sup>3</sup>)</label>
                <input name="min-area" type="number" class="filter-input form-control form-control-sm" id="minArea">
            </div>

            @* min value for rooms *@
            <div class="form-group">
                <label for="minRooms">Minimum rooms</label>
                <input name="min-rooms" type="number" class="filter-input form-control form-control-sm" id="minRooms">
            </div>

            @* max value for price *@
            <div class="form-group">
                <label for="maxPrice">Maximum price (kr.)</label>
                <input name="max-price" type="number" class="filter-input form-control form-control-sm" id="maxPrice">
            </div>
        </div>

        @* apply filters *@
        <div class="col-lg-3 listing-filter-apply-col">
            <button onclick="applyFilters()" type="button" class="btn btn-b-n listing-filter-apply-btn text-dark">APPLY</button>
        </div>

    </div>
</div>
@* advanced search end *@
