@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Listings>

@{
    Layout = "Master.cshtml";

    var listings = Umbraco.Content(Guid.Parse("060b468a-cc88-426b-a612-c391433adde2"))
        .Children()
        .OfType<ListingItem>()
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);
}


@* the fun starts here *@

@* intro start *@
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Properties</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Listings
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
@* intro end *@

<section class="property-grid grid">
    <div class="container">
        <div class="row">

            @foreach (var item in listings)
            {
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@item.Images.First().Url()" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <span>
                                            @item.Headline
                                        </span>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <a href="@item.Url()" class="price-a">@item.ListingType | @String.Format("{0:# ##0 ##0}", item.Price) kr.</a>
                                    </div>
                                    <a href="@item.Url()" class="link-a">
                                        Click here to view
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>

        @* pagination start *@
        <div class="row">
            <div class="col-sm-12">
                <nav class="pagination-a">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                <span class="ion-ios-arrow-back"></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="#">
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        @* pagination end *@

    </div>
</section>

@*<div style="padding-top: 12rem;">
        These are the listings

        @{
            var selection = Umbraco.Content(Guid.Parse("060b468a-cc88-426b-a612-c391433adde2"))
                .Children()
                .Where(x => x.IsVisible());
        }
        <ul>
            @foreach (var item in selection)
            {
                <li>
                    <a href="@item.Url">@item.Name</a>
                </li>
            }
        </ul>

    </div>*@
