@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.ListingItem>

@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

@* header start *@
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@Model.Headline</h1>
                    <span class="color-text-a">@Model.Region Region </span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/listings">Listings</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Headline
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
@* header end *@

<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                @* images start *@
                <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
                    @foreach (MediaWithCrops item in Model.Images)
                    {
                        <div class="carousel-item-b">
                            <img src="@item.Content.Url()" alt="">
                        </div>
                    }
                </div>
                @* images end *@

                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">

                        @* pricing start *@
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="ion-money">kr.</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">@String.Format("{0:# ##0 ##0}", Model.Price)</h5>
                                </div>
                            </div>
                        </div>
                        @* pricing end *@

                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Quick Summary</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">
                                    <li class="d-flex justify-content-between">
                                        <strong>Property Type:</strong>
                                        <span>@Model.ListingType</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Location:</strong>
                                        <span>@Model.Region Region</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Area:</strong>
                                        <span>
                                            @Model.Size m<sup>2</sup>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Rooms:</strong>
                                        <span>@Model.Rooms</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Property Description</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                @Model.Description
                            </p>
                        </div>

                        @* start tags *@
                        @if (@Model.Tags.Count() > 0)
                        {
                            <div class="row section-t3">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Amenities</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="amenities-list color-text-a">
                                <ul class="list-a no-margin">
                                    @foreach (var tag in @Model.Tags)
                                    {
                                        <li style="min-width: fit-content;">@tag</li>
                                    }
                                </ul>
                            </div>
                        }
                        @* end tags *@

                    </div>
                </div>
            </div>

            @* contact start *@
            <div class="col-md-12">
                <div class="row section-t3">
                    <div class="col-sm-12">
                        <div class="title-box-d">
                            <h3 class="title-d">Contact Agent</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="property-agent">
                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between">
                                    <strong>Phone:</strong>
                                    <span class="color-text-a">@Model.Contact</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @* contact end *@

        </div>
    </div>
</section>
