@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Listings>

@using ClientDependency.Core.Mvc
@using Umbraco.Core.Services
@using Umbraco.Core.PropertyEditors;

@{
    Layout = "Master.cshtml";

    // handles filtering & pagination queries
    Html.RequiresJs("/assets/js/listings.js");
    // handles fade-in after query
    Html.RequiresCss("/assets/css/listings.css");

    // get info for filtering
    IDataTypeService dataTypeService = Services.DataTypeService;

    var allTypes = dataTypeService.GetAll();

    var listingTypeDataType = allTypes.Where(dt => dt.Name == "Listing Controls - Listing type - Dropdown").First();
    var listingTypeDataTypeConfig = (ValueListConfiguration)listingTypeDataType.Configuration;
    var listingTypeItems = listingTypeDataTypeConfig.Items;

    var regionDataType = allTypes.Where(dt => dt.Name == "Listing Controls - Region - Dropdown").First();
    var regionDataTypeConfig = (ValueListConfiguration)regionDataType.Configuration;
    var regionItems = regionDataTypeConfig.Items;

    ITagService tagService = Services.TagService;
    var tags = tagService.GetAllContentTags("listing-feature");
}


@* intro start *@
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Properties</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Listings
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
@* intro end *@

@* search start *@
<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                @* select if rent or sale *@
                <div>
                    <h6>Select listing type</h6>
                    @foreach (var item in listingTypeItems)
                    {
                        <div class="form-check">
                            <input class="filter-listingtype form-check-input" type="checkbox" value="@item.Value" id="listingtype-@item.Id">
                            <label class="form-check-label" for="listingtype-@item.Id">
                                @item.Value
                            </label>
                        </div>
                    }
                </div>

                @* multi-select for region *@
                <div>
                    <h6>Select region</h6>
                    @foreach (var item in regionItems)
                    {
                        <div class="form-check">
                            <input class="filter-region form-check-input" type="checkbox" value="@item.Value" id="listingregion-@item.Id">
                            <label class="form-check-label" for="listingregion-@item.Id">
                                @item.Value
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-3">
                <h6>Seach any field</h6>
                <div>
                    <div class="form-group">
                        <input type="text" class="filter-searchbox form-control form-control-sm" id="filter-searchbox">
                    </div>
                </div>

                <h6>Select amenities</h6>
                <div>
                    @* mutli-select for tags *@
                    @foreach (var item in tags)
                    {
                        <div class="form-check">
                            <input class="filter-tag form-check-input" type="checkbox" value="@item.Text" id="itemtag-@item.Id">
                            <label class="form-check-label" for="itemtag-@item.Id">
                                @item.Text
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-3">
                <h6>Set filter ranges</h6>
                @* min value for area *@
                <div class="form-group">
                    <label for="minArea">Minimum area (m<sup>3</sup>)</label>
                    <input type="number" class="filter-area form-control form-control-sm" id="minArea">
                </div>

                @* min value for rooms *@
                <div class="form-group">
                    <label for="minRooms">Minimum rooms</label>
                    <input type="number" class="filter-rooms form-control form-control-sm" id="minRooms">
                </div>

                @* max value for price *@
                <div class="form-group">
                    <label for="maxPrice">Maximum price (kr.)</label>
                    <input type="number" class="filter-price form-control form-control-sm" id="maxPrice">
                </div>
            </div>

            @* apply filters *@
            <div class="col-lg-3 listing-filter-apply-col">
                <button onclick="applyFilters()" type="button" class="btn btn-b-n listing-filter-apply-btn text-dark">APPLY</button>
            </div>



        </div>
    </div>
</section>
@* search end *@

@* results will get inserted below *@
<section class="property-grid grid">
    <div class="container" id="results-container">
        @* default *@
        @Html.Partial("~/Views/Partials/ListingResults.cshtml")
    </div>
</section>

